body{
    font-size: 20px;
    margin:0px;
    padding:0px
}
.head{
    display: flex;
}
.title{
    font-size: 20px;
    flex: auto;
}
.right{
    display: flex;
    justify-content: flex-end;
    flex:auto
}
.item{
    flex: none;
    margin-right: 10px;
    text-align: center ;
}
.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color:orangered;
    width: 100%;
}
.text{
    flex:auto;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.frame{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.pic{
    flex: none;
    width: 280px;
    margin: 10px;
    background-color: darkgray;
    text-align: center;
    color: black;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.logo{
    height: 30px;
    display: none;
}

@media (max-width:1200px) {
    .pic{
        width: 45%;
    }
    body{
        min-width: 1200px;
        font-size: 20px;
    }
}
@media (max-width:600px) {
    body{
        min-width: 1200px;
        font-size: 20px;
    }
    .pic{
        width: 90%;
    }
    .right{
        display: none;
    }
    .logo{
        display: block
    }

}